.card-btn-row {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;

}
.quantity-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    margin-left: .5em;
    margin-right: .5em;
}

.card-image {
    margin: 0 !important;
    width: 100%;
}

.cart-summary {
    background-color: lightgrey;
    padding: 1.5em;
    border-radius: .75em;
}

.cart-summary p {
    margin-top: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.cart-summary h3 {
    font-weight: 700;
   
}

.subtotal {
    text-align: right;
}
